.MobileNav{
    position: fixed;
    z-index: 13;
    background: var(--mobile-side);
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
    transition: ease 1s;
    height: 40px;
}
