.PlaylistCardSBox{
    position: relative;
    overflow: hidden;
}
.PlaylistCardS {
    position: relative;
    padding: 16px;
    border-radius: 4px;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    min-height: 100px;
}
.ImgBox{
    position: relative;
    -webkit-box-shadow: 0 -4px 16px rgb(0 0 0 / 50%);
    box-shadow: 0 -4px 16px rgb(0 0 0 / 50%);
}
.ImgBox img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.IconBox{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    z-index: 2;
}
.IconBox div{
    height: 50%;
    width: 50%;
    background-color: #fff5;
    border-radius: 50%;
    border: solid #fff5 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.IconBox button{
    height: 40px;
    width: 40px;
    -webkit-transition: -webkit-transform 33ms cubic-bezier(.3,0,0,1);
    transition: -webkit-transform 33ms cubic-bezier(.3,0,0,1);
    transition: transform 33ms cubic-bezier(.3,0,0,1);
    transition: transform 33ms cubic-bezier(.3,0,0,1),-webkit-transform 33ms cubic-bezier(.3,0,0,1);
}
.ActiveIconBox{
    bottom: 106px;
    opacity: 1;
}
.IconBox button svg{
    fill: #fff !important;
}
.Title{
    margin-top: 16px;
    min-height: 62px;
}
.Title p{
    margin: 0px;
    color: var(--text-white);
}
.Title p:last-child{
    color: var(--text-gray);
    margin-top: 4px;
    -webkit-line-clamp: 2;
}
.PlaylistCardSBox:hover .IconBox{
    opacity: 1;
}


.PlaylistCardSBox:hover .ImgBox img {
    filter: blur(4px);
}

.PlaylistCardSBox:hover .ImgBox img::after {
    background-color: #fff2;
    transition: 0.15s ease;
}
.ImgBox img {
    transition: 0.15s ease;
}
