.trackDiv{
    display: block;
    width: 100%;
    background: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    position: relative;
    display: grid;
    grid-template-columns: 26px 36px 1fr 38px;
    align-items: center;
    text-align: left;
    padding: 0px 16px;
    column-gap: 16px;
    height: 56px;
}
.playBtn{
    position: absolute;
    opacity: 0;
    background: none;
    left: 5px;
    z-index: 2;
    width: 32px;
    height: 32px;
    border: 0;
}
.playBtn svg{
    font-size: 18px;
    fill: #fff !important;
}
.gif{
    width: 14px !important;
    height: 14px !important;
}
.trackDiv:hover{
    background-color: hsla(0,0%,100%,.1);
}
    .trackDiv:hover .SongIndex,
    .trackDiv:hover #eI4wjv0hVNk {
        opacity: 0;
    }
.trackDiv:hover .playBtn{
    opacity: 1;
}
@media screen and (max-width: 640px) {
    .trackDiv{
        padding: 0;
        padding-left: 6px;
        width: calc(100% - 8px);
    }
}

#eI4wjv0hVNk2_ts {
    animation: eI4wjv0hVNk2_ts__ts 1250ms ease infinite alternate-reverse forwards;
    fill: #5b88e1;
}

@keyframes eI4wjv0hVNk2_ts__ts {
    0% {
        transform: translate(4.99902px, 14px) scale(1, 1);
        animation-timing-function: cubic-bezier(0.25,1,0.25,1)
    }

    20% {
        transform: translate(4.99902px,14px) scale(1,0.24028)
    }

    40% {
        transform: translate(4.99902px,14px) scale(1,1.745762)
    }

    60% {
        transform: translate(4.99902px,14px) scale(1,1.062813)
    }

    80% {
        transform: translate(4.99902px,14px) scale(1,1.905282)
    }

    100% {
        transform: translate(4.99902px,14px) scale(1,1)
    }
}

#eI4wjv0hVNk3_ts {
    animation: eI4wjv0hVNk3_ts__ts 1250ms ease infinite alternate-reverse forwards;
    fill: #5b88e1;
}

@keyframes eI4wjv0hVNk3_ts__ts {
    0% {
        transform: translate(9.116667px, 14px) scale(1, 0.15753);
        animation-timing-function: cubic-bezier(0.25,1,0.25,1)
    }

    20% {
        transform: translate(9.116667px,14px) scale(1,0.893324)
    }

    40% {
        transform: translate(9.116667px,14px) scale(1,0.659024)
    }

    60% {
        transform: translate(9.116667px,14px) scale(1,1.825524)
    }

    80% {
        transform: translate(9.116667px,14px) scale(1,1)
    }

    100% {
        transform: translate(9.116667px,14px) scale(1,0.16)
    }
}

#eI4wjv0hVNk4_ts {
    animation: eI4wjv0hVNk4_ts__ts 1250ms ease infinite alternate-reverse forwards;
    fill: #5b88e1;
}

@keyframes eI4wjv0hVNk4_ts__ts {
    0% {
        transform: translate(12px, 14px) scale(1, 2);
        animation-timing-function: cubic-bezier(0.25,1,0.25,1)
    }

    20% {
        transform: translate(12px,14px) scale(1,-0.339983)
    }

    40% {
        transform: translate(12px,14px) scale(1,-0.893324)
    }

    60% {
        transform: translate(12px,14px) scale(1,-0.255236)
    }

    80% {
        transform: translate(12px,14px) scale(1,-2)
    }

    100% {
        transform: translate(12px,14px) scale(1,-1.5)
    }
}

#eI4wjv0hVNk5_ts {
    animation: eI4wjv0hVNk5_ts__ts 1250ms ease infinite alternate-reverse forwards;
    fill: #5b88e1;
}

@keyframes eI4wjv0hVNk5_ts__ts {
    0% {
        transform: translate(1px, 14px) scale(1, 0.561318);
        animation-timing-function: cubic-bezier(0.25,1,0.25,1)
    }

    20% {
        transform: translate(1px,14px) scale(1,1.471585)
    }

    40% {
        transform: translate(1px,14px) scale(1,0.255236)
    }

    60% {
        transform: translate(1px,14px) scale(1,0.539381)
    }

    80% {
        transform: translate(1px,14px) scale(1,1.72583)
    }

    100% {
        transform: translate(1px,14px) scale(1,0.56)
    }
}
