.playlistDetails {
    padding: 24px 32px 24px;
    display: grid;
    grid-template-columns: 232px 1fr;
    column-gap: 24px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.ar1 {
    display: flex;
    flex-direction: row;
}

.playlistDetails1 {
    padding: 0;
    display: grid;
    grid-template-columns: 232px 1fr;
    column-gap: 24px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 2;
}
.imgBox{
    width: 232px;
    height: 232px;
}
.imgBox img{
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.nn {
    width: 100%;
    height: calc(100% - 94px);
    background: var(--bg);
    position: absolute;
    top: 0;
    opacity: var(--img-opacity);  
    transition: 0.1s ease;
}

.nn1 {
    width: 100%;
    height: 300px;
    top: calc(100% - 94px);
    background: var(--bg);
    background: linear-gradient(180deg, var(--bg) 0%, var(--hover-home-bg));
    position: absolute;
    bottom: -56px;
    z-index: 0;
}

.imgBox1{
    width: 100%;
    height: calc(100vh - 94px);
    overflow: hidden;
    box-sizing: border-box;
    object-fit: contain;
}
.imgBox1 img{
    width: 100%;
    height: calc(100% - 94px);
    max-height: calc(100% - 94px);
    -webkit-box-shadow: 0 4px 500px rgb(0 0 0 / 50%);
    box-shadow: 0 4px 500px rgb(0 0 0 / 50%);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    object-fit: cover; 
    position: absolute;
    object-position: center;
}
.textBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    filter: brightness(450%);
}
.textBox h3{
    margin: 0;
    top: -10px;
    letter-spacing: -0.4px;
    color: #222 !important;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}
.textBox h1{
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font-size: 72px;
    font-weight: 500;
    letter-spacing: -.04em;
    text-transform: none;
    text-overflow: ellipsis;
    width: 60vw !important;
    color: #ddd;
    top: -25px;
    position: relative;
}

.textBox1{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    bottom: 100px;
}
.textBox1 h3{
    margin: 0;
    margin-top: 4px;
    letter-spacing: -0.4px;
}
.textBox1 h1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    padding: 0.08em 0px;
    font-size: 96px;
    line-height: 96px;
    font-weight: 800;
    letter-spacing: -.04em;
    text-transform: none;
}

.Artist {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: flex-start;
    top: -45px;
    position: relative;
}

.Artist p {
    color: #222 !important;
    font-weight: 500;
}

.Artist1 {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: flex-start
}

.Artist1 p:hover {
    filter: brightness(100%);
    text-decoration: underline var(--hover-home-bg) 1px;
}
.Artist figure{
    width: 24px;
    height: 24px;
    margin: 0;
    display: inline-block;
}
.Artist figure img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
    .Artist:last-child {
        margin: 0;
        margin-left: 0px;
        
    }

    .Artist h5 {
        color: var(--text-gray);
    }
.svb {
    color: var(--text-gray);
    height: 12px;
    width: 90px;
    overflow: visible;
}
.svv {
    fill: var(--text-gray);
    font-size: 35px;
}
@media screen and (max-width: 640px) {
    .textBox {
        gap: 7px !important;
        position: relative;
        top: 10px;
    }
    .playlistDetails{
        grid-template-columns: 1fr;
        row-gap: 8px;
        place-items: center;
        text-align: center;
    }
    .imgBox{
        width: 125px;
        height: 125px;
    }
    .textBox h1{
        font-size: 32px;
        left: 50%;
        text-align: center;
        position: relative;
        transform: translateX(-50%);
        width: 80vw !important;
    }
    .Artist{
        justify-content: center;
    }
    .svb {
        color: var(--text-gray);
        height: 12px;
        width: 125px;
        overflow: visible;
    }
    .imgBox1{
        width: 100%;
        height: calc(100vh - 40px);
    }
    .imgBox1 img{
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
        box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        object-fit: cover; 
        position: absolute;
    }
    .nn {
        width: 100%;
        height: 100%;
        background: var(--bg);
        position: absolute;
        top: 0;
        opacity: var(--img-opacity);  
        transition: 0.1s ease;
    }
    .textBox1{
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: flex-end;
        bottom: 100px;
        width: 100%;
    }
    .textBox1 h1{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
        padding: 0.08em 0px;
        font-size: 36px;
        line-height: 96px;
        font-weight: 700;
        letter-spacing: -.04em;
        text-transform: none;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 100%;
        text-align: center;
    }

    
    
.nn1 {
    width: 100%;
    height: 100px;
    background: var(--bg);
    background: linear-gradient(180deg, var(--bg) 0%, rgba(255, 255, 255, 0) 61%, rgba(255,255,255,0) 100%);
    position: absolute;
    bottom: -98px;
}

.ar1 {
    justify-content: center;
}
}


.gridImg {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}