.SearchPage {
    background-color: var(--bgcol);
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    height: calc(100vh - 100px);
    padding-bottom: 100px;
}

:root {
    --topsearch: 100px;
    --transearch: translateX(0%);
}

.new {
    padding-top: 100px;
}

.SeachBox {
    position: fixed;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    z-index: 99999999;
    top: var(--topsearch);
    transform: var(--transearch);
    transition: ease 0.5s;
}

    .SeachBox svg {
        position: absolute;
        color: black;
        top: 8px;
        left: 12px;
    }

    .SeachBox input {
        color: #000;
        padding: 6px 24px;
        height: 28px;
        width: 100%;
        border: 0;
        border-radius: 500px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        background-color: #ffffff99;
        backdrop-filter: blur(50px);
    }
@keyframes goIn {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 640px) {
    .SeachBox svg {
        left: 26px;
        top: 15px;
    }

    .SeachBox input {
        padding: 6px 42px;
        height: 24px;
        width: 90vw;
    }
}
.Search{
    padding: 0px 32px;
    padding-bottom: 32px;
    margin-bottom: 95px;
}
.SearchCardGrid {
    display: grid;
    grid-column-gap: 24px;
    row-gap: 15px;
    column-gap: 24px;
    grid-template-columns: repeat(auto-fill,minmax(var(--cards-column-width),1fr));
    grid-auto-rows: min-content;
    grid-template-rows: 1fr;
    height: 100%;
    padding-left: 10px;
}

.SearchCardGrid div {
    max-height: 340px;
}

.SectionCards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(var(--small-cards-column-width),1fr));
    row-gap: 16px;
    column-gap: 24px;
    max-height: 352px;
    overflow-y: hidden;
}
.SeachBox {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 56px;
}


    .SeachBox svg {
        margin-top: 10px;
    }

    .SeachBox input {
        color: #000;
        height: 28px;
        width: 100%;
        border: 0;
        border-radius: 500px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }

    .inblock {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 56px;
        width: 100%;
    }

    .Btnn {
        width: 56px;
    height: 56px;
    background-color: transparent;
    border: none;
    }
@media screen and (max-width: 640px) {
    .SearchPage{
        padding: 16px;
        padding-bottom: 180px;
    }
    .SearchCardGrid {
        grid-gap: 16px;
        overflow-y: auto;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        -webkit-tap-highlight-color: transparent;
    }
    .SectionCardsMedium {
        grid-gap: 16px;
        overflow-y: auto;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        -webkit-tap-highlight-color: transparent;
    }
    .SeachBox svg {
        left: 26px;
        top: 15px;
    }

    .SeachBox {
        padding: 6px 42px;
        height: 24px;
        width: 200vw;
    }

    .SeachBox input {
        width: 100%;
    }
}