.cu {
    margin: 0px;
    color: #808080;
}

#toggle{
    position: relative;
    margin-right: 40px;
    opacity: 1;
}

.body {
    background-color: var(--main-background);
    backdrop-filter: blur(500000px);
    height: calc(100% - 100px);
}

#toggle input{
    display: none;
}
    #toggle:checked::before
{
    transform: translateX(100%);
}

#toggle:checked::after {
    background: #5b88e1;
}


#toggle::after,
#toggle::before {
    content: '';
    top: -2px;
    left: -2px;
    position: absolute;
    transition: all 0.2s ease;
}

    #toggle::after {
        background: #c4c4c4;
        width: 50px;
        height: 25px;
        border-radius: 50px;
        outline: none;
    }

#toggle::before {
    width: 23px;
    height: 23px;
    left: 1px;
    top: -1px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
    outline: none;
}

.marg {
    margin-left: 50px;
    overflow-y: scroll;
    padding-bottom: 100px;   
}

.merg {
    margin-left: 50px;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.marg section {
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 30px;
}
    .marg h2, .marg h3, .marg h4 {
        color: var(--text-white);
        transition: 0.5s color;
        margin-bottom: 0px;
    }

.marg h5 {
    color: var(--text-white);
    transition: 0.5s color;
    margin-bottom: 0px;
}
.ust {
    margin-top: 0px;
    margin-left: 15px;
    border-bottom: solid thin var(--sepe);
    padding-bottom: 20px;
    width: 80%;
}

.ust-disabled {
    margin-top: 0px;
    margin-left: 15px;
    border-bottom: solid thin var(--sepe);
    padding-bottom: 20px;
    width: 80%;
    color: #000;
    pointer-events:none;
}

#rang {
    color: var(--akcent);
    -webkit-appearance: none;
    background-color: #55555525;
    border-radius: 50px;
    width: 150%;
    height: 10px;
}

#rang::-webkit-slider-thumb {
    -webkit-appearance: none;
	position: relative;
	z-index: 9;
	background: #b3b3b3;
	border-radius: 50%;
	box-shadow: 0 0 0 0 #b3b3b3;
	cursor: pointer;
	height: 10px;
	width: 10px;
	transition: 0.25s ease;
	border: 0;
}

#rang

.ust-disabled div section h4 {
    color: #0006;
}

.marg h4 span {   
    position: absolute;
    color: var(--text-white);
    margin-left: 5px;
    background-color: #5b88e1;
    font-size: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.marg h4 span:before {
    content: "BETA";
}

.marg-disabled h4 span {   
    position: absolute;
    color: var(--text-white);
    margin-left: 5px;
    background-color: #5b88e1;
    font-size: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.marg-disabled h4 span:before {
    content: "BETA";
}

@media screen and (max-width: 640px) {
    .body {
        background: linear-gradient(140deg, var(--main-background) 0%, var(--main-background) 30%, rgba(91,136,225,1) 100%);
    }

    .marg {
        margin-left: 5px;
    }

    .ust {
        width: 95%;
    }
    .ust-disabled {
        width: 95%;
    }

    .marg section {
        width: 90%;
    }
    #rang {
        height: 25px;
        background-color: #55555550;
        width: 100%;
    }

    #rang::-webkit-slider-thumb {
        height: 25px;
        width: 25px;
    }
}

.container-pp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-pp p {
    color: var(--text-white);
    width: 45px;
}

.cu {
    margin: 0px;
    color: #808080;
}

.datea {
    display: flex;
    flex-direction: column;
}

.datea h4 {
    margin: 0;
    padding: 0;
}

.datea h5 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #555;
}

#btnsec button {
    background-color: var(--akcent);
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 10px 15px;
}