.playBtn {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    color: #000;
    border: none;
    background-color: var(--outline);
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .playBtn:hover {
        transform: scale(1.1);
    }

    .playBtn svg {
        fill: var(--fillsvg);
    }
