:root {
    --disp3: none;
    --disp2: flex;
    --expanded: translateY(0);
    --dispbg: none;
    --dispbt2: none;
    --dispbt1: none;
    --disp-ly: none;
    --ly-height: calc(100vh - 94px);
}

.lyrics-card {
    background: linear-gradient(179deg, #ff0000, #0081ff, #ffd800);
    background-size: 600% 600%;
    position: fixed;
    right: 10px;
    top: 0;
    height: 180px;
    width: 320px;
    z-index: 1920;
    border: none;
    -webkit-animation: Gradient-Lyric 30s ease infinite;
    -moz-animation: Gradient-Lyric 30s ease infinite;
    -o-animation: Gradient-Lyric 30s ease infinite;
    animation: Gradient-Lyric 30s ease infinite;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.lyrics-card-m {
    position: fixed;
    right: 10px;
    top: 40px;
    height: 170px;
    width: 365px;
    z-index: 19200000;
    border: none;
    border-radius: 8px;
    transform: var(--expanded);
    transition: 0.75s ease-in-out;
}

.ex {
    display: var(--disp2);
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
}

    .ex:hover {
        cursor: pointer;
    }

        .ex:hover svg {
            fill: var(--svg-ho);
        }

    .ex svg {
        fill: var(--svg-fo);
        width: 18px;
        height: 20px;
    }

.hi {
    display: var(--disp3);
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
}

.hi:hover {
    cursor: pointer;
}

    .hi:hover svg {
        fill: var(--akcent);
    }

.hi svg {
    fill: var(--akcent);
    width: 20px;
    height: 18px;
}


@-webkit-keyframes Gradient-Lyric {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-moz-keyframes Gradient-Lyric {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-o-keyframes Gradient-Lyric {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@keyframes Gradient-Lyric {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}

#text-card {
    color: white;
    margin-left: 15px;
    white-space: pre-line;
    animation: txta 0.25s ease;
}

@keyframes txta {
    from{opacity:0}
    to{opacity:1}
}

#scroll-lyrics {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100px;
    margin-top: 5px;
    display: inline-flex;
}

#center-bar {
    bottom: 0;
}

h6 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom:0;
}

#buttonMusiq {
    opacity: var(--opbtn1);
    margin-left: 15px;
    height: 30px;
    margin-top: 17px;
    border: none;
    border-radius: 5px;
    background-color: #0004;
    color: white;
    width: 75px;
    transition: 0.5s ease;
}

#buttonMusiq:hover {
    background-color: #fff4;
    transition: 0.5s ease;
}




#czas {
    margin-right: 15px;
    color:white;
}

#flexowy {
    display: flex;
    justify-content: space-between
}

.hid {
    display: var(--dispbt2);
}

.exp {
    display: var(--dispbt1);
}

.mm-lyrics {
    background-color: var(--hover-home-bg);
    transition: 0.25s ease;
    height: var(--ly-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    flex-direction: column;
    left: 50%;
    display: var(--disp-ly);
    transform: translateX(-50%) var(--expanded);
    width: 100%;
}

.mm-lyrics-pip {
    background-color: var(--hover-home-bg);
    transition: 0.5s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow-y: hidden;
    top: 0;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%) var(--expanded);
    width: 100%;
}

.lydiv {
    display: grid;
    position: fixed;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -.04em;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 75%;
    row-gap: 25%;
    margin-top: 15px;
    transition: ease 0.4s;
    text-align: center;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%) translateY(var(--top-lyrics));
}


    .lydiv div {
        height: 45px;
    }

    .lydiv-pip div {
        height: 90px;
    }

.lt {
    color: white;
    transition: 0.6s ease-out;
}

.lt-n {
    color: var(--hover-home-bg);
    filter: brightness(40%);
    transition: 0.75s ease-out;
}

.lt-no {
    color: var(--hover-home-bg);
    filter: brightness(40%);
    transition: 0.15s ease-out;
    opacity: 0;
}

.mm-lyrics p {
    color: var(--hover-home-bg);
    filter: brightness(50%);
    font-weight: 500;
    position: absolute;
    left: 10px;
    bottom:0;
}

.mm-lyrics-pip p {
    color: var(--hover-home-bg);
    filter: brightness(50%);
    font-weight: 500;
    position: absolute;
    left: 10px;
    bottom: 0;
}

.button-translate {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #0008;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    transition: 0.5s ease;
    z-index: 9999;
}

.button-translate-active {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #0008;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    transition: 0.5s ease;
    z-index: 9999;
}

.button-translate svg {
    fill: #fff;
    transition: 0.5s ease;
}

.button-translate-active svg {
    fill: var(--akcent);
    transition: 0.5s ease;
}

.button-fullscreen {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #0008;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    transition: 0.5s ease;
    z-index: 9999;
}

.button-fullscreen-active {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #0008;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    transition: 0.5s ease;
    z-index: 9999;
}

.button-fullscreen svg {
    fill: #fff;
    transition: 0.5s ease;
}

.button-fullscreen-active svg {
    fill: var(--akcent);
    transition: 0.5s ease;
}

@media screen and (max-width: 640px) {
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

    .mm-lyrics {
        display: var(--lyrics);
        background-color: var(--hover-home-bg);
        transition: 0.25s ease;
        height: var(--ly-height);
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        height: 25vh;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%) translateY(calc(75vh));
        width: 75vw;
        border-radius: 10px;
    }

        .mm-lyrics p {
            color: var(--hover-home-bg);
            filter: brightness(50%);
            font-weight: 500;
            position: absolute;
            left: 10px;
            bottom: 0;
        }
    .lydiv {
        display: grid;
        position: absolute;
        font-size: 2.5vh;
        font-weight: 700;
        letter-spacing: -.04em;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 75%;
        row-gap: 25%;
        margin-top: 15px;
        transition: ease 0.4s;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        left: 50%;
        transform: translateX(-50%) translateY(var(--top-lyrics));
    }


        .lydiv div {
            height: 45px;
        }
}
