:root {
    --disp3: none;
    --disp2: flex;
    --expanded: translateY(200vh);
    --dispbg: none;
    --dispbt2: none;
    --dispbt1: none;
}

.lyrics-card {
    background: linear-gradient(179deg, #ff0000, #0081ff, #ffd800);
    background-size: 600% 600%;
    position: fixed;
    right: 10px;
    top: 0;
    height: 180px;
    width: 320px;
    z-index: 1920;
    border: none;
    -webkit-animation: Gradient-Lyric 30s ease infinite;
    -moz-animation: Gradient-Lyric 30s ease infinite;
    -o-animation: Gradient-Lyric 30s ease infinite;
    animation: Gradient-Lyric 30s ease infinite;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.lyrics-card-m {
    position: fixed;
    right: 10px;
    top: 40px;
    height: 170px;
    width: 365px;
    z-index: 19200000;
    border: none;
    border-radius: 8px;
    transform: var(--expanded);
    transition: 0.75s ease-in-out;
}

.ex {
    display: var(--disp2);
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
}

    .ex:hover {
        cursor: pointer;
    }

        .ex:hover svg {
            fill: var(--svg-ho);
        }

    .ex svg {
        fill: var(--svg-fo);
        width: 18px;
        height: 20px;
    }

.hi {
    display: var(--disp3);
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
}

.hi:hover {
    cursor: pointer;
}

    .hi:hover svg {
        fill: var(--akcent);
    }

.hi svg {
    fill: var(--akcent);
    width: 20px;
    height: 18px;
}


@-webkit-keyframes Gradient-Lyric {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-moz-keyframes Gradient-Lyric {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-o-keyframes Gradient-Lyric {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@keyframes Gradient-Lyric {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}

#text-card {
    color: white;
    margin-left: 15px;
    white-space: pre-line;
    animation: txta 0.25s ease;
}

@keyframes txta {
    from{opacity:0}
    to{opacity:1}
}

#scroll-lyrics {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100px;
    margin-top: 5px;
    display: inline-flex;
}

#center-bar {
    bottom: 0;
}

h6 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom:0;
}

#buttonMusiq {
    opacity: var(--opbtn1);
    margin-left: 15px;
    height: 30px;
    margin-top: 17px;
    border: none;
    border-radius: 5px;
    background-color: #0004;
    color: white;
    width: 75px;
    transition: 0.5s ease;
}

#buttonMusiq:hover {
    background-color: #fff4;
    transition: 0.5s ease;
}


@media screen and (max-width: 640px) {
    :root {
        --expanded: translateY(340px);
    }
    .lyrics-card {
        background: rgb(9,9,9);
        background: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(17,17,17,1) 15%, rgba(32,32,32,1) 100%);
        top: 0;
        height: 100px;
        width: 90%;
        z-index: 999999999;
        border: none;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .lyrics-card-m {
        top: 78vh;
        height: 100px;
        z-index: 999999999;
        width: 100%;
        border: none;
        border-radius: 8px;
        transform: var(--expanded);
        transition: 0.75s ease-in-out;
        position: absolute;
    }

.mm-lyrics {
display: none;
}

        
}

#czas {
    margin-right: 15px;
    color:white;
}

#flexowy {
    display: flex;
    justify-content: space-between
}

.hid {
    display: var(--dispbt2);
}

.exp {
    display: var(--dispbt1);
}

.mm-lyrics {
    background-color: var(--hover-home-bg);
    transition: 0.5s ease;
    height: calc(100vh - 94px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%) var(--expanded);
    width: 100%;
}

    .mm-lyrics div {
        display: flex;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -.04em;
        line-height: 36px;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-evenly
    }

.lt {
    color: white;
    transition: 1s;
}

.lt-n {
    color: var(--hover-home-bg);
    filter: brightness(40%);
    transition: 1s;
}

.mm-lyrics p {
    color: var(--hover-home-bg);
    filter: brightness(50%);
    font-weight: 500;
    position: absolute;
    left: 10px;
    bottom:0;
}
