.footerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.soundBar{
    display: flex;
    align-items: center;
    z-index: 10000000;
    right: 24px;
    position: relative;
}
.soundBar input{
    width: 93px;
}

.pip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pip:hover { 
    cursor: pointer;
}

    .pip:hover svg {
        fill: var(--svg-ho);
    }
    .pip svg {
        fill: var(--svg-fo);
        width: 20px;
        height: 18px;
    }

.pipac {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .pipac:hover {
        cursor: pointer;
    }

    .pipac svg {
        fill: var(--akcent);
        width: 20px;
        height: 18px;
    }


@media screen and (max-width: 640px) {
    .footerRight {
        z-index: 9999999999;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50px;
        height: 62px;
        right: 0;
    }
}

.opnqueue {
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
}

.opnqueue:hover {
    cursor: pointer;
}

    .opnqueue:hover svg {
        fill: #fff;
    }

.opnqueue svg {
    fill: var(--svg-ho);
    width: 20px;
    height: 18px;
}

.gradient {
    height: calc(100% - 3px);
    pointer-events: none;
    width: 200px;
    right: -10px;
    bottom: 3px;
    position: absolute;
    background: var(--song-a);
    background: linear-gradient(270deg, var(--song-a) 0%, var(--song-a) 45%, #ffffff00 100%);
    z-index: 99;
    transition: 0.25s ease;
}