.footerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.soundBar{
    display: flex;
    align-items: center;
    z-index: 10000000;
}
.soundBar input{
    width: 93px;
}

.pip {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    color: #000;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: .2s;
}

.pip svg {
    fill: #fff !important;
    width: 16px;
    height: 16px;
    transition: 0.2s;
}

@media screen and (max-width: 640px) {
    .footerRight {
        z-index: 9999999999;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50px;
        right: 0;
    }
}