:root {
    --botf: 0;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: var(--botf);
    height: var(--footersize);
    width: 100%;
    z-index: 9;
    transition: height 0.25s ease;
}
.nowplayingbar {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: var(--card-background);
    padding: 17px 16px;
    color: #fff;
    height: var(--footersize);
    transition: 0.25s background-color ease;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: blur(50px);  
}

.nowplayingbar div {
}




.footerMid {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: var(--musicctr);
}

@media screen and (max-width: 640px) {
    :root {
        --footersize: 62px;
        --botf: 55px;
        --phmu: none;
        --footwidth: calc(100% - 20px);
        --footopa: 0.5;
    }

    .footer {
        bottom: var(--botf);
        width: var(--footwidth);
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.25s ease;
    }
    .nowplayingbar {
        padding: 0px 0px;
        grid-template-columns: 75vw 25vw;
        row-gap: 0px;
        border-radius: 20px;
    }
    .footerMe {
        display: var(--phmu);
        position: absolute;
        width: 100%;
        bottom: 23vh;
        z-index: 100000;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
}

.bgron {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: blur(10px) grayscale(25%) brightness(50%);
    display: var(--dispbg);
    transition: 0.5s ease;
}

.buttt {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    z-index: 10000000;
}

.whi svg {
    fill: var(--col);
}
