.progressBar{
	display: flex;
    align-items: center;
	position: relative;
	transition: 0.25s ease;
}
.range__slider {
	-webkit-appearance: none;
	background-color: #282828;
	height: 6px;
	overflow: hidden;
	width: auto;
	border-radius: 0px;
	transition: 0.25s ease;
}
.spanThumb {
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 50px;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
}
.range__slider::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 6px;
	transition: 0.25s ease;
}
.range__slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	z-index: 9;
	background: var(--akcent);
	border-radius: 50%;
	box-shadow: calc(-100vw - 2px) 0 0 100vw var(--akcent);
	cursor: pointer;
	height: 6px;
	width: 4px;
	transition: 0.25s ease;
	border: 0;
}
.range__slider::-moz-range-thumb {
	background: var(--akcent);
	border-radius: 50%;
	box-shadow: calc(-100vw - 2px) 0 0 100vw var(--akcent);
	cursor: pointer;
	height: 6px;
	width: 4px;
	transition: 0.25s ease;
	border: 0;
}
.range__slider::-moz-range-track {
	background-color: #282828;
	transition: 0.25s ease;
}
.range__slider::-moz-range-progress {
	background-color: var(--akcent);
	transition: 0.25s ease;
	height: 6px;
}
.range__slider::-ms-fill-upper {
	background-color: #282828;
	transition: 0.25s ease;
}
.range__slider::-ms-fill-lower {
	background-color: #b3b3b3;
	transition: 0.25s ease;
}
.progressBar:hover .range__slider::-webkit-slider-thumb {
	background: var(--akcent);
	box-shadow: calc(-100vw - 2px) 0 0 100vw var(--akcent);
	transition: 0.25s ease;
}
.progressBar:hover .range__slider::-moz-range-thumb {
	background: var(--akcent);
	transition: 0.25s ease;
	box-shadow: calc(-100vw - 2px) 0 0 100vw var(--akcent);
}
.progressBar:hover span {
	background: #fff !important;
	opacity: 1 !important;
	z-index: 1000;
	border: 4px #fff solid;
	cursor: pointer;
}