.progressBar {
	display: flex;
	align-items: center;
	position: relative;
	bottom: 0px;
	position: absolute;
}
.range__slider {
	-webkit-appearance: none;
	background-color: transparent;	
	height: 2px;
	overflow: hidden;
	width: calc(50% - 120px);
	transition: 1s ease;
	margin: 0;
}
.spanThumb{
	width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}
.range__slider::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 0px;
}
.range__slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	z-index: 9;
	background: #b3b3b3;
	box-shadow: -410px 0 0 408px #fff;
	cursor: pointer;
	height: 0px;
	width: 0px;
	border: 0;
}
.range__slider::-moz-range-thumb {
	background: #b3b3b3;
	box-shadow: -410px 0 0 408px #fff;
	cursor: pointer;
	height: 0px;
	width: 0px;
	border: 0;
}
.range__slider::-moz-range-track {
	background-color: #535353;
}
.range__slider::-moz-range-progress {
	background-color: #b3b3b3;
	height: 0px;
}
.range__slider::-ms-fill-upper {
	background-color: #535353;
}
.range__slider::-ms-fill-lower {
	background-color: #b3b3b3;
}
.progressBar:hover span {
	background: #5b88e1 !important;
	opacity: 1 !important;
}