.musicProgress {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 110px);
    z-index: 0;
    background-color: var(--card-background);
    opacity: var(--footopa);   
}
.musicProgress span p{
    margin: 0px 8px;
    word-break: normal;
    font-size: 11px;
    color: rgb(179, 179, 179);
}
.musicProgress div{
    display: flex;
    align-items: center;
    width: calc(100% + 50px);
}
    .musicProgress input {
        width: calc(100% - 110px);
    }