.musicControl {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    -webkit-tap-highlight-color: transparent;
    bottom: 0;
}
.musicControl div button svg{
    fill: black !important;
}
.button {
    border: 0;
    background: transparent;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}
.button svg{
    font-size: 16px;
    fill: hsla(0,0%,100%,.7);
    color: hsla(0,0%,100%,.7);
}
.musicControl svg:hover {
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    transition: 0.25s;
}