.musicControl {
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0px;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000000;
}
.button {
    border: 0;
    background: transparent;
    width: 38px;
    height: 38px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}
.button svg{
    font-size: 16px;
    fill: var(--btns);
    color: hsla(0,0%,100%,.7);
}
.button svg:hover {
    fill: var(--btns);
    color: rgb(255, 255, 255);
    transition: 0.25s;
}


.buttonactive {
    border: 0;
    background: transparent;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    flex-direction: column;
}

    .buttonactive svg {
        font-size: 20px;
        fill: var(--akcent);
        color: hsla(0,0%,100%,.7);
    }

        .buttonactive svg:hover {
            fill: var(--akcent);
            color: rgb(255, 255, 255);
            transition: 0.25s;
        }

        .buttonactive:after {
            background-color: var(--akcent);
        }

.notification {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--mobile-side);
    color: var(--text-white);
    padding: 0px 15px;
    border-radius: 10px;
}

.circ {
    font-size: 2px;
    transition: 0.25s;
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translateY(15px);
}

.circ1 {
    font-size: 2px;
    width: 16px;
    height: 16px;
    transition: 0.25s;
    position: absolute;
    opacity: 0;
}
#bme:hover .circ1 {
    transform: translateY(15px);
    opacity: 1;
}