
.musicControl {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    -webkit-tap-highlight-color: transparent;
    bottom: 0;
    margin-bottom: 50px;
}
.musicControl div svg path{
    fill: #fff;
}

    .musicControl div {
        background: #5b88e1;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .musicControl div svg {
        font-size: 30px;
    }

.button {
    border: 0;
    background: transparent;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}
.button svg{
    font-size: 26px;
    fill: #fff;
    color: hsla(0,0%,100%,.7);
}
.musicControl svg:hover {
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    transition: 0.25s;
}
