

.menup {
    font-size: 14px;
    background-color: var(--menu);
    border-radius: 5px;
    padding: 5px 0 5px 0;
    width: 150px;
    height: auto;
    margin: 0;
    right: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: open 0.25s ease;
    opacity: var(--menuop);
    z-index: 9999999999;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    position: absolute;
}

.menuitem {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--menu-col);
    padding: 5px 10px;
    width: 100%;
    flex-direction: column;
}

.menuitem:hover {
    background-color: #fff2;
}

.menuitem svg {
    fill: var(--text-white)
}

@keyframes open {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: var(--menuop);
        transform: scaleY(1);
    }
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    z-index: 999999999999;
    top: var(--top);
    left: var(--left);
    width: 25vw;
    height: 50vh;
    overflow-y: scroll;    
}

.consoleitem h1 {
    overflow-y: scroll;
    font-size: 10px;
}

.consoleitem {
    overflow-y: scroll;
    text-align: start;
    padding: 50px 10px;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    position: fixed;
    width: 23vw;
}

:root {
    --color: #000;
}

.rot {
    transform: rotateZ(45deg)
}

.foverlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,var(--color) 100%);
    display: flex;
    justify-content: center;
}

.menuitem svg {
    stroke: var(--text-white)
}

.ff {
    width: 75vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}

.inputtrack {
    background: transparent;
    border: 0;
    transition: 0.5s ease;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 35px;
    width: 100%;
}

    .inputtrack:focus {
        border-bottom: solid 1px var(--akcent);
        transition: 0.5s ease;
        color: #fff
    }

.lumina_button {
    background-color: var(--akcent);
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    color: var(--text-white);
    border: none;
    border-radius: 5px;
}
