:root {
  --keyguide: none;
}

.keyguide {
  display: var(--keyguide);
  background-color: var(--solid-main);
  position: fixed;
  height: calc(100% - 94px);
  width: 100%;
  left: 0;
  top: 0;
}

.key {
  color: var(--text-white);
  display: flex;
  flex-direction: column;
}

.kes {
  display: flex;
}

.playingoverlay {
  position: fixed;
  background-color: var(--akcent);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 94px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9999;
}

.keys {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3);
  grid-template-rows: 200px 200px;
}

.keyguide span {
  background-color: #4f545c;
  border: 1px solid #36393f;
  display: block;
  padding: 3px 6px 4px;
  margin-right: 3px;
  border-radius: 4px;
  cursor: default;
  min-width: 14px;
  min-height: 14px;
  text-align: center;
  color: #f6f6f7;
  -webkit-box-shadow: inset 0 -4px 0 #202225;
  box-shadow: inset 0 -4px 0 #202225;
  text-transform: uppercase;
  font-weight: 700;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  z-index: 999999999999;
  top: var(--top);
  left: var(--left);
  width: 25vw;
  height: 50vh;
  overflow-y: scroll;
}

.consoleitem h1 {
  overflow-y: scroll;
  font-size: 10px;
}

.consoleitem {
  overflow-y: scroll;
  text-align: start;
  padding: 50px 10px;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
  position: fixed;
  width: 23vw;
}

@media screen and (max-width: 640px) {
  .playingoverlay {
    bottom: 46px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .playingoverlay h3 {
    font-size: 12px;
  }

  .playingoverlay h3 span {
    font-size: 12px;
  }
}

.playingoverlay button:hover {
  background-color: #eee;
}

.playingoverlay h3 span {
  font-weight: 600;
}

.playingoverlay h3 {
  font-weight: 400;
}

.playingoverlay button {
  height: 35px;
  border: none;
  background-color: #fff;
  color: var(--akcent);
}

.fx {
  top: 50px;
  right: 0;
}

.fx div {
  width: 100%;
  top: 0;
  position: relative;
}

.console-lay {
  background-color: #1d1d1dee;
  backdrop-filter: blur(15px);
  position: fixed;
  width: 300px;
  height: 375px;
  border-radius: 15px;
  animation: consoleanim 0.25s ease;
}

@keyframes consoleanim {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.c-top {
  background-color: #57575722;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: grid;
  grid-template-columns: calc(100% - 35px) 35px;
}

.c-top h5 {
  color: #fff;
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

.c-input {
  background-color: transparent;
  bottom: 0;
  left: 0;
  border: none;
  width: calc(100% - 20px);
  height: calc(35px - 5px);
  border-bottom-right-radius: 15px;
  margin: 0;
  padding: 0;
  padding: 2.5px 10px;
  color: #fff;
}

.c-content {
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: calc((100% - 35px * 2) - 10px);
  overflow-y: scroll;
  padding: 5px 10px;
}

.c-grid {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  display: grid;
  grid-template-columns: 35px calc(100% - 35px);
  background-color: #2e2e2eaa;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.c-content h5 {
  white-space: pre-wrap;
  overflow-anchor: none;
}

.c-grid h5 {
  color: #fff;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  padding-top: 5px;
}

.c-err {
  color: rgb(255, 37, 37);
}

.c-warn {
  color: rgb(230, 162, 73);
}

.c-img {
  width: calc(100% - 10px);
}

.heart {
  position: fixed;
  animation: heartanim ease 5s;
  top: 200vh;
}

@keyframes heartanim {
  0% {
    top: 0vh;
    transform: rotate(0deg) translateX(-25px);
  }
  25% {
    transform: rotate(20deg) translateX(50px);
  }
  45% {
    transform: rotate(30deg) translateX(-105px);
  }
  75% {
    transform: rotate(15deg) translateX(50px);
    top: 35vh;
  }
  100% {
    top: 75vh;
    transform: rotate(15deg) translateX(50px);
  }
}

.full-pc {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 0.25s ease;
  background-color: #000;
  z-index: 9999999999;
}

.full-pc-bg {
  filter: brightness(80%);
  background: var(--song-hover);
  background: linear-gradient(180deg, var(--song-hover) 0%, var(--song-a) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.full-it {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #000;
  bottom: 50px;
  left: 45.5px;
  border-radius: 50%;
  opacity: 0.9;
}

.TimeSpan {
  position: fixed;
  bottom: 64px;
  right: 20px;
}

.albumText {
  margin: 0px;
  color: var(--text-gray) !important;
  font-weight: 300;
  font-size: 13px;
  height: auto;
  width: 100%;
  overflow: visible;
  white-space: nowrap;
  position: absolute;
  bottom: 12px;
}

.btnPlay {
  background-color: transparent;
  outline: 2px #202020 solid;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #aaa !important;
}

.pauseIt {
  transform: scaleX(1.4);
}

.nextSong {
  fill: #aaa !important;
}

.prevSong {
  fill: #aaa !important;
  transform: rotate(180deg);
}
.nextPage {
  fill: #d9dddf !important;
  transform: scaleX(1.25);
}

.prevPage {
  fill: #d9dddf !important;
  transform: rotate(180deg) scaleX(1.25);
}
.lybg {
  background-color: red;
}

.Avatar {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Avatar img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  border-radius: 50%;
  position: relative;
}

.Avatar h2 {
  background-color: var(--sidenav-black);
  border-radius: 50%;
  position: absolute;
  width: 25.2px;
  height: 25.2px;
  right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Avatar h2 p {
  background-color: var(--akcent);
  border-radius: 50%;
  position: relative;
  width: 17px;
  height: 17px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lib {
  position: relative;
  left: 45px;
  top: -5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lib h3 {
  font-size: 13px;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  gap: 10px;
}

.mogus {
  position: absolute;
  top: 270px;
  left: 300px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: var(--akcent);
  color: #fff;
  border: none;
}

.mogus svg {
  fill: none !important;
  stroke: #fff !important;
  stroke-width: 1.2px;
  stroke-linecap: round !important;
}

.mogus div {
  background-color: transparent;
}

.TrackRel {
  position: relative;
  display: flex;
}

.TrackRel:hover .dots {
  opacity: 1;
}

.dots {
  background: transparent;
  border: none;
  z-index: 1;
  border-radius: 50%;
  transition: 0.01s ease-in-out, .15s ease opacity;
  height: 26px;
  width: 26px;
  z-index: 999;
  position: absolute;
  pointer-events: all;
  right: 10px;
  top: 15px;
  outline: 2px #202020 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.dots:hover {
  opacity: 1;
}

.dots:focus {
  opacity: 1;
}

  .dots svg:after {
      transition: 0.15s ease-in-out;
  }

  .dots svg {
      fill: var(--text-white);
      border-radius: 50%;
      transition: 0.10s ease-in-out;
      transform: rotate(90deg);
  }

  * {
    user-select: none;
    -webkit-user-drag: none;
  }
  /* *:focus-visible {
    outline: 2px solid #fff;
  } */

  .PlayingSvg {
    position: relative;
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
  }
  
  .PlayingSvg circle {
    width: 30px;
    height: 30px;
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 10;
    stroke-linecap: round;
    left: 5px;
  }
  
  .PlayingSvg circle:last-of-type {
    stroke-dasharray: 1000px;
    stroke-dashoffset: calc(1000px - (1000px * var(--percent)) / 100);
    stroke: #3498db; 
    transition: 0.9s ease;
  }

  .circ {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: transparent;
    left: -2px;
  }
  .circle {
    max-width: 200px;
  }

  .circle circle {
    display: block;
    fill: transparent;
    stroke: var(--akcent);
    stroke-linecap: round;
    stroke-dasharray: calc(283 * 1);
    stroke-dashoffset: calc(290 - var(--percent) * 220);
    stroke-width: 15px;
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.9s ease;
  }

  .Related {
    right: 25px;
    top: 0;
    width: 315px;
    height: calc(100vh - 150px);
    transition: position 0.15s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: visible;
  }


  .Albums .Album {
    width: 315px;
    height: 420px;
    background-color: #1e1e1e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    position: absolute;
    transition: 0.15s ease;
    overflow: hidden;
  }

  .Albums .Album.r1 {
    transform: scale(0.8);
    top: -60px;
    z-index: 1;
    right: 0px;
  }
  .Albums .Album.r2 {
    transform: scale(0.9);
    top: 0px;
    z-index: 2;
    right: 0px;
  }
  .Albums .Album.r3 {
    transform: scale(1);
    top: 60px;
    z-index: 3;
    right: 0px;
  }

  .Albums .Album img {
    width: 315px;
    height: 315px;
    object-fit: contain;
  }

  .Albums .Album:hover {
    z-index: 4;
    transform: scale(1.025);
  }

  .Albums .Album h2 {
    color: var(--text-gray);
    font-weight: 500;
    position: relative;
    top: -7px;
    font-size: 14px;
    left: 20px;
  }

  .Albums .Album h3 {
    color: #484848;
    font-weight: 600;
    font-family: 'Roboto' sans-serif;
    position: relative;
    top: -10px;
    font-size: 14px;
    left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 280px;
  }
  .Albums .Album h1 {
    color: #fff;
    font-weight: 600;
    font-family: 'Roboto' sans-serif;
    position: relative;
    top: -24px;
    font-size: 24px;
    left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 280px;
  }

  .jjkx6rjekreyg {
    position: fixed;
    background-color: purple;
    z-index: 9999999999999;
    width: 100vw;
    height: 100vh;
  }

  .N {
    filter: brightness(60%);
    pointer-events: none;
  }